
h1{
    margin: 10px 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

body{
    position: relative;
}

.home{
    text-decoration: none;
    position: absolute;
    left: 400px;
    width: 100px;
    top: 15px;
 }

 .feeling{
    text-decoration: none;
    position: absolute;
    left: 500px;
    width: 100px;
    top: 15px;
    
 }

 .game{
    text-decoration: none;
    position: absolute;
    left: 600px;
    width: 100px;
    top: 15px;
 }

 .music{
    text-decoration: none;
    position: absolute;
    left: 700px;
    width: 100px;
    top: 15px;
    
 }

 .about{
    text-decoration: none;
    position: absolute;
    left: 800px;
    width: 100px;
    top: 15px;

 }

.tumblr{
    position: absolute;
    left: 1050px;
    top: 10px;

}

.twitter{
    position: absolute;
    left: 1100px;
    top: 10px;

}

.ig{
    position: absolute;
    left: 1150px;
    top: 10px;

}

.fb{
    position: absolute;
    left: 1200px;
    top: 10px;

}
 
.bg{
    width: 100%;
    background-size: cover;
}